/* CSS styles */
#welcome {
font-family: Impact;
color: #CE5937;
}

body {
  background-color: rgb(2,2,2);
}

#site-header {
  display: flex;
  background-color: rgb(20,20,20);
  height:50px;
  border:5px solid rgb(25, 25, 25);
  box-shadow: 5px 5px rgb(25, 25, 25);
  border-radius: 10px;
  flex-direction: row;
  justify-content:space-evenly;
  align-items:center;
}

#logo-image {
   border-radius: 15px;
   position: relative;
     left: 1px;
     top: 2px;
}

.header-box {
  font-weight: 800;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #CE5937;
  position: relative;
  left: -1px;
  top: -2px;
  box-shadow: 1px 2px;
  margin: 0;
  background-color: rgb(40,40,40);
  border-radius:10px;
  border-color: #CE5937;
  border-style: solid;
}

.header-box:hover {
  cursor: pointer;
  box-shadow: 0px 0px;
  background-color: rgb(50,50,50);
  position: relative;
  left: 0px;
  top: 0px;
}


#site-footer {
    vert-align: bottom;
    display: flex;
    background-color: rgb(20,20,20);
    height:32px;
    border:3px solid rgb(25, 25, 25);
    box-shadow: 3px 3px rgb(25, 25, 25);
    border-radius: 10px;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    font-size: smaller;
    color: #CE5937;
    user-select: text
}


#homepage-container {
    margin: 10px;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, calc((100vh - 150px) / 2));
}

#homepage-container > .homepage-section {
    background-color: rgb(20,20,20);
    border:5px solid rgb(25, 25, 25);
    box-shadow: 5px 5px rgb(25, 25, 25);
    border-radius: 10px;
    align-items:center;
    text-align: center;
    margin: 7px;
}

#homepage-container > .homepage-section:nth-child(2) {
    grid-column: 2;
    grid-row: 1/3;
}